body{
  font-family: Arial, Helvetica,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
body {
  background-image: url("http://fungyung.com/data/out/118/62863737-triangles-wallpapers.jpg"), url("http://fungyung.com/data/out/118/63802554-triangles-wallpapers.jpg");
  background-repeat: no-repeat, repeat;
  background-color: #cccccc;
}
/*container*/
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
/*header*/
header{
  background:grey;
  color: pink;
  padding-top: 30px;
  min-height: 70px;
  border: 1px solid purple;
}
header a{
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}
header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header nav{
  float: center;
  margin-top: 30px;
}
header .current a{
  color: red;
  font-weight: bold;
  float: right;
}
header a:hover{
  color: #ffffff;
  font-weight: bold;
}
/*ul*/
ul{
  margin: 0;
  padding:0;
}
.dark{
  padding: 15px;
  background: grey;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

#banner h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#banner p{
  font-size: 20px;
}
/*boxes section*/
aside#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;
}
aside#side1{
  float: left;
  width: 100%;
  margin-top: 10px;
  background-color: grey;
}
article#main-col{
  float: left;
  width: 65%;
}
#more{
  color: red;
}
/*footer*/
footer{
  padding: 20px;
  margin-top: 20px;
  background-color: grey;
  text-align: center;
}
/*media queries*/
@media(max-height: 768px){
  header #banner,
  header nav,
  header nav li{
    float: none;
    text-align: center;
    width: 100%;
  }

  header{
    padding-bottom: 20px;
  }
}
